{{ 'custom-header.css' | asset_url | stylesheet_tag }}
{{ 'example.css' | asset_url | stylesheet_tag }}
{{ 'custom-icons-set.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print"
      onload="this.media='all'">

<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>


<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<div class="logo" style="width: {{ section.settings.logo_width }}px">
    {%- assign image_size = section.settings.logo_width | append: 'x' -%}
    <a href="/">
        <img src="{{ section.settings.logo | img_url: image_size }}" alt="logo">
    </a>
</div>
<div class="navbar">
    <nav>
        <ul>
            {% for link in section.settings.menu.links %}
                <li>
                    <a href="{{ link.url }}" {% if link.current %} class="current" {% endif %}>{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="header-icons">
        <div class="search">
            <i class="customIcon icon-search"></i>
        </div>
        <div class="cart">
            <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset"
               id="cart-icon-bubble">
                {%- if cart != empty -%}

                    <i class="customIcon icon-cart"> </i>
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                    {%- if cart != empty -%}
                        <div class="cart-count-bubble custom">
                            {%- if cart.item_count < 100 -%}
                                <span aria-hidden="true">{{ cart.item_count }}</span>
                            {%- endif -%}
                            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                        </div>
                    {%- endif -%}
                {%- endif -%}
            </a>
            {%- render 'cart-notification' -%}
        </div>
    </div>
</div>


{% schema %}
{
"name": "Custom Header",
"tag": "header",
"class": "custom-header",
"settings": [
{
"id": "logo",
"type": "image_picker",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 350,
"step": 5,
"default": 100,
"unit": "t:sections.header.settings.logo_width.unit",
"label": "t:sections.header.settings.logo_width.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "t:sections.header.settings.menu.label"
}
]
}

{% endschema %}
