{{ 'custom-hero-banner.css' | asset_url | stylesheet_tag }}

<div class="hero-banner_container" style="background: {{ section.settings.color }};">
     <span class="hero-banner_gradient left"
           style="background: linear-gradient(90deg, {{ section.settings.color }} 70%, transparent 100%);"></span>
    <div class="hero-banner_product" style="background-image: url('{{ section.settings.product | image_url }}');">
        <div class="hero-banner_content">
            <h3>{{ section.settings.product.title }}</h3>
            <div class="price">
                <span>{{ currency.symbol }}</span><span>{{ section.settings.product.price | money }}</span>
                <span class="original">{{ currency.symbol }}{{ section.settings.product.compare_at_price | money }}</span>
            </div>
            <a href="#">Start Shopping</a>
        </div>
    </div>
    <span class="hero-banner_gradient right"
          style="background: linear-gradient(90deg, transparent 0%, {{ section.settings.color }} 30%);"></span>
</div>

{% schema %}

{
"name": "Hero banner",
"tag": "section",
"class": "hero-banner",
"settings": [
{
"id": "color",
"type": "color",
"default": "#FFFFFF",
"label": "Choose banners color"
},
{
"type": "product",
"id": "product",
"label": "t:sections.featured-product.settings.product.label"
},
{
"id": "buttonText",
"type": "text",
"label": "Type buttons text",
"default": "Text"
},
{
"id": "buttonLink",
"type": "url",
"label": "Insert buttons link"
}
],
"presets": [
{
"name": "Hero banner",
"settings": {
"color": "#131824",
"buttonText": "Start Shopping",
"buttonLink": "/#"
}
}
]
}

{% endschema %}
