{{ 'custom-header.css' | asset_url | stylesheet_tag }}
{{ 'example.css' | asset_url | stylesheet_tag }}
{{ 'custom-icons-set.css' | asset_url | stylesheet_tag }}

<script src="{{ 'custom-header.js' | asset_url }}" defer="defer"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
</style>

{% if section.settings.ajax_cart == true %}
    {{ 'custom-ajax-cart.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'ajax-cart.js' | asset_url }}" defer="defer"></script>
{% endif %}

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print"
      onload="this.media='all'">

<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>


<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<div class="logo" style="width: {{ section.settings.logo_width }}px">
    {%- assign image_size = section.settings.logo_width | append: 'x' -%}
    <a href="/">
        <img src="{{ section.settings.logo | img_url: image_size }}" alt="logo">
    </a>
</div>
<div class="navbar">
    <nav >
        <i class="customIcon icon-burger"></i>
        <ul class="desktop-menu">
            {% for link in section.settings.menu.links %}
                <li>
                    <a href="{{ link.url }}" {% if link.current %} class="current" {% endif %}>{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="mobile-menu">
            <i class="customIcon icon-close" id="closeMobMenu"></i>
            <div class="mobile-search">
                <input type="search" placeholder="Type your search">
                <i class="customIcon icon-search"></i>
            </div>
            <ul >
                {% for link in section.settings.menu.links %}
                    <li>
                        <a href="{{ link.url }}" {% if link.current %} class="current" {% endif %}>{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="header-icons">
        <div class="search">
            <i class="customIcon icon-search"></i>
        </div>
        <div class="cart">
            <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset"
               id="cart-icon-bubble">
                <i class="customIcon icon-cart"> </i>
                <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                {%- if cart.item_count < 100 and cart != empty -%}
                    <div class="cart-count-bubble custom">
                        <span aria-hidden="true" id="cart-counter">{{ cart.item_count }}</span>
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                {%- endif -%}
            </a>
            {%- liquid
                if section.settings.ajax_cart == true
                    render 'custom-ajax-cart'
                endif
            %}
        </div>
    </div>
</div>


{% schema %}
{
"name": "Custom Header",
"tag": "header",
"class": "custom-header",
"settings": [
{
"id": "logo",
"type": "image_picker",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 350,
"step": 5,
"default": 100,
"unit": "t:sections.header.settings.logo_width.unit",
"label": "t:sections.header.settings.logo_width.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "t:sections.header.settings.menu.label"
},
{
"id": "ajax_cart",
"type": "checkbox",
"label": "Apply AJAX cart",
"default": false
}
]
}


{% endschema %}
